/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2015, 11:24:46 AM
    Author     : celsoluiz81
*/

html,body{
    background-color: #515765;
    font-family: 'Open Sans', sans-serif;
    color:#515765;
}
header,footer{background-color: #28ABE3; color:#fff;}
ul{list-style: none;padding-left:0;}

.container{max-width: 420px;}
.content{background-color: #fff;}

header ul > li{font-size: 12px;display: inline;padding:0 10px;text-align: center;border-right: 1px solid #fff;}
header ul > li:last-child{border-right: none;}

.top{padding:10px 0;line-height:48px;}
.top h3{font-size: 16px;text-align: center;margin:0; line-height: 48px;vertical-align: middle}

.avatar{
    text-align: center;
    display: block;
    margin:10px auto;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.buttons{padding:20px 0;text-align: center;}
.buttons ul > li{border-right:none;}
.fa{color:#fff;}
.fa-circle{ color:#1e9acd; }
.text-danger{color:#C0392B;}
.text-success{color:#27AE60;}



.status{text-align: center;padding:10px;}
.status-label{font-weight: 600}
.status > div:nth-of-type(2){border-right: #f4f4f4 solid 2px;border-left:#f4f4f4 solid 2px;}

.contact-info h3{background-color: #f4f4f4; font-size: 14px; font-weight: 600; color:#515765; margin:0; padding:4px 10px;}
.contact-info ul{padding:0;}
.contact-info ul > li{padding:5px 10px;border-bottom: solid 1px #f4f4f4;}
.contact-info ul > li:last-child{border-bottom: none;}
.contact-label{font-weight: 600;color:#28ABE3;}

#form{
    position:relative;
    top:0;
    display:none;
    padding:10px;
    z-index: 0;
    border-bottom: #f4f4f4 solid 2px;
}
#form form{height:260px;}
#form .input-group{display:block;}
#form .form-control{width:100%; border-radius: 0;-webkit-box-shadow:none;-box-shadow:none; }
#form control-label{color:#515765;padding:5px 0;font-size: 12px; font-weight: 400;}
#form textarea{width:100%;height:90px}
footer{min-height: 50px;}


